@model Sports_NStanton.Models.PlayerGameStat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerGameStat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotsOnGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotsOnGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerGameStatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
